.navbar {
  font-size: 1rem;
  background-color: #1e2a38;
}

.navbar-brand {
  font-size: 1.4rem;
}

.navbar .dropdown-menu {
  min-width: 160px;
  border-radius: 8px;
}

.custom-navbar {
  background-color: #1e2a38;
  /* dark navy */
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: #fff !important;
}

.custom-navbar .nav-link:hover {
  color: #ffc107 !important;
}